.Vacations {
      &__NoResultsMessage{
            display: flex;
            height: 80vh;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            & > a{
                  text-decoration: none;
            }
      }
      &__filtersNav{
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            border-radius: 7px;
      }
      &__closeGraph{
            display: inline-block;
            border-radius: 20px;
            text-align: center;
            padding: 5px;
            background-color: rgb(186, 32, 32);
            color:white;
            text-decoration: none;
            margin: 3px;
            width: 20%;
            &:hover{
                  background-color: rgb(232, 74, 79);
                  color: white;
            }
      }
      &__filterBtn{
            display: inline-block;
            border-radius: 10px;
            text-align: center;
            padding: 5px;
            background-color: rgb(0, 99, 255);
            color:white;
            font-weight: bold;
            text-decoration: none;
            margin: 3px;
            width: 20%;
            box-shadow: 0px 3px 5px rgba(0,0,0,0.5);

            &:hover{
                  background-color: rgb(57, 57, 172);
                  color: white;
                  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
            }
            &:focus{
                  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
                  background-color: rgb(60, 60, 187);
            }
            }
      & > a{
            width: 12%;
            height: 55px;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: whitesmoke;
            background-color: rgb(0, 99, 255);
            border: none;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            outline: none;
            padding: 0;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
            transition: all 0.3s ease;
            position: fixed;
            bottom: 15%;
            right: 40px;
            &:hover{
                  background-color: rgb(57, 57, 172);
                  box-shadow: 0px 15px 20px rgba(26, 34, 31, 0.4);
                  color: white; 
            }
      }
}