.AuthMenu {
      float: right;
      &__navlinks{
            border-left: 0.3px solid lightgray;
            border-radius: 7px;
            text-decoration: none;
            padding: 5px;
            color: white;
            background-color: rgb(0, 99, 255);
            margin: 5px;
            &:hover{
                  color: white;
                  background-color: rgb(0, 99, 155);
            }
      }
      &__connected{
            & > strong{color: rgb(95, 94, 94);}
            min-width: 20%;
            border-left: 0.5px solid lightgray;
            padding: 5px;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      &__disconnected{
            border-left: 0.3px solid lightgray;
            & > h5{
                  color: gray;
            }
            min-width: 20%;
            border-left: 0.3px solid lightgray;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
      }
}