.Login {

      &__form{
            & > h3{
                  color:blue;
                  padding: 10px;
            }
            & > a{
                  text-decoration: none;
                  & > b{
                        text-decoration: underline;
                  }
            }
            border: 0.5px solid gray;
            border-radius: 10px;
            text-align: center;
            width: 30%;
            padding: 10px;
            margin: auto;
            margin-top: 50px;
      }
      
      &__button{
            color:white;
            background-color: blue;
            width: 25%;
            padding: 5px;
            margin: 10px;
            border: none;
            border-radius: 5px;
      }

}